In [8]:
import dask.dataframe as dd
import pandas as pd
from time import sleep
from typing import Iterable
import numpy as np

In [9]:
pdf = pd.DataFrame([[0],[1],[2],[3],[4],[5],[6],[7]], columns=["a"])

In [10]:
def delay(df:pd.DataFrame) -> pd.DataFrame:
    sleep(df.shape[0]*3)             # sleep for 3 seconds per item
    return df.assign(b=df.shape[0])  # items in each partition

In [11]:
%%time
ddf = dd.from_pandas(pdf, npartitions=4)
ddf.map_partitions(delay).compute()

CPU times: user 24.5 ms, sys: 2.32 ms, total: 26.8 ms
Wall time: 12 s

   a  b
0  0  2
1  1  2
2  2  2
3  3  2
4  4  2
5  5  2
6  6  2
7  7  2

In [12]:
%%time
pdf = pd.DataFrame([[0],[1],[2],[3]], columns=["a"])
ddf = dd.from_pandas(pdf, npartitions=4)
ddf.map_partitions(delay).compute()

CPU times: user 30.6 ms, sys: 2.65 ms, total: 33.2 ms
Wall time: 12 s

   a  b
0  0  1
1  1  1
2  2  2
3  3  2

In [14]:
%%time
ddf = dd.from_pandas(pdf, npartitions=4)
ddf = ddf.set_index("a")
ddf.map_partitions(delay).compute()

CPU times: user 63.9 ms, sys: 5.25 ms, total: 69.2 ms
Wall time: 12.1 s

   b
a
0  1
1  1
2  2
3  2