In [46]:
def test_fn(fn, **kwargs):
    _scatter = kwargs.pop("_scatter", None)
    return fn(**kwargs)

In [44]:
def myfunc(a, b):
    return a + b

In [45]:
test_fn(myfunc, a=1, b=2, _scatter=True)

3

In [1]:
from fugue_notebook import setup
setup()

In [2]:
import pandas as pd

In [3]:
import pandas as pd
test = pd.DataFrame({"a": [1,2,3,4,5], "b":[1,2,3,4,5]})

In [4]:
%%fsql spark
SELECT *
  FROM test
 WHERE a >= 3
 PRINT

   a  b
0  3  3
1  4  4
2  5  5

In [5]:
# schema: *, c:int
def new_col(df: pd.DataFrame) -> pd.DataFrame:
    df['c'] = df['a'] + df['b']
    return df

In [6]:
%%fsql spark
tempdf = SELECT *
           FROM test
          WHERE a >= 3

SELECT a, b
  FROM tempdf
TRANSFORM USING new_col
 PRINT

   a  b   c
0  3  3   6
1  4  4   8
2  5  5  10

In [16]:
%%fsql spark
aisles = LOAD "/mnt/data2/aisles.csv" (header=true)

SELECT * 
 FROM aisles
 PRINT
 
SAVE OVERWRITE "/mnt/data2/aisles-pandas.csv"

  aisle_id                       aisle
0        1       prepared soups salads
1        2           specialty cheeses
2        3         energy granola bars
3        4               instant foods
4        5  marinades meat preparation
5        6                       other
6        7               packaged meat
7        8             bakery desserts
8        9                 pasta sauce
9       10            kitchen supplies

In [6]:
test_df.show()

+---+---+
|  a|  b|
+---+---+
|  1|  1|
|  2|  2|
|  3|  3|
|  4|  4|
|  5|  5|
+---+---+