In [26]:
import pandas as pd

df = pd.DataFrame({"a": [1,2,None], "b": ["2020-01-01","2020-01-02","2020-01-03"]})
df = pd.DataFrame(df)
df

     a           b
0  1.0  2020-01-01
1  2.0  2020-01-02
2  NaN  2020-01-03

In [27]:
df.dropna()

     a           b
0  1.0  2020-01-01
1  2.0  2020-01-02

In [20]:
df = df.fillna(1, inplace=False)

In [21]:
print(df)

     a           b
0  1.0  2020-01-01
1  2.0  2020-01-02
2  1.0  2020-01-03

In [11]:
df

   a           b
0  1  2020-01-01
1  2  2020-01-02
2  3  2020-01-03

In [2]:
from fugue_sql import fsql

In [3]:
from fugue_notebook import setup
setup()

In [6]:
%%fsql

df2 = SELECT *
        FROM df
        ALTER COLUMNS a:int, b:date