# Porting Existing Code to Distributed Computing

Data scientists run into a scenario where they have port existing Pandas code to Spark or Dask. Either they start with a small data project, and then move it to a larger dataset to run on production, or they have existing code and programs that are struggling to scale. The limitation of Pandas are well documented:

The primary reason is that pandas is single core, and does not take advantage of all available compute resources. A lot of operations also generate [intermediate copies](https://pandas.pydata.org/pandas-docs/stable/user_guide/scale.html#scaling-to-large-datasets) of data, utilizing more memory than necessary. To effectively handle data with pandas, users preferably need to have [5x to 10x times](https://wesmckinney.com/blog/apache-arrow-pandas-internals/) as much RAM as the size of the dataset.

Spark and Dask allow us to split compute jobs across multiple machines. They also can handle datasets that donâ€™t fit into memory by [spilling data](http://distributed.dask.org/en/latest/worker.html#spill-data-to-disk) over to disk in some cases.

## Current Approaches

### Vertical Scaling

The most frequent thing to do is to scale the compute vertically so that there is no re-write of the code needed. Instead of running everything on a 16 GB VM, we can run it on a 32 GB VM. When that isn't good enough anymore, we can run the program on a 64 GB RAM. The problem with this is that it is often not a good use of resources for the following reasons:

1. You likely only need more compute resources for one step out of many. For example, if the dataset is reduced already because Machine Learning Modelling, then you don't need a big VM during the modelling step.
2. Scaling vertically does not automatically mean complete utilization of CPUs. A lot of people frequently scale the underlying virtual machine, but don't introduce parallelism so other cores are not utilized.

### DIY Parallelism

It's also common for people to introduce their own form of parallelism. A common example of this is sharding a CSV or parquet file into several, and then spinning up a Python process for each one by using the multiprocessing library. As an example code snippet:

```python
def logic(file_name):
    shard = pd.read_csv(file_name)
    result = do_something(shard)
    result.to_csv(f"processed-{file_name}")
    return

import concurrent.futures
with concurrent.futures.ProcessPoolExecutor() as executor:
    futures = executor.map(logic, files)
    concurrent.futures.wait(futures)
```

The DIY Parallelism approach can have issues though. The most common issue is resource contention because the memory and CPU consumption of these threads is not fixed. [This is an example StackOverflow post.](https://stackoverflow.com/questions/71151809/python-processpoolexecutor-memory-problems). Basically you have to chunk this yourself. Memory management falls on the user. But how does each process know the overall consumption?

Second, this assumes that everything is on the same compute, but there is room to do things better if we are open to scaling things out.

## Distributed Computing Frameworks

This brings us to distrubted computing frameworks. Distrubted just means we are scaling out over a cluster so the data lives in multiple machines. The [Dask machine learning documentation](https://ml.dask.org/) shows us what the dimensions of scale are. There are compute bound problems and memory bound problems. 

<img src="https://ml.dask.org/_images/dimensions_of_scale.svg" align="middle" width="700"/>


Distributed computing frameworks such as Spark and Dask scale out to a cluster of machines.

<img src="img/spark_dask_ray.png" align="center" width="800"/>

There is an image in the Dask repo [issues](https://github.com/dask/dask/issues/4471) that clearly illustrates the distributed computing paradigm. In general, there is a client or master that takes care of the orchestration and final data collection. The client is responsible for scheduling tasks among workers.

Both Spark and Dask have local modes also where they use the cores available on the local machine. This means we can still take advantage of the additional processing without having a cluster available.

In the diagram below, note how:
- package versions and serialization
- reading in files can be optimized
- data actually lives on a physical machine

<img src="https://user-images.githubusercontent.com/11656932/62263986-bbba2f00-b3e3-11e9-9b5c-8446ba4efcf9.png" align="left" width="700"/>

## Introductions to Partitions

In order to understand partitions, we can look at this image showing the way Dask scales Pandas. Each partition is a Pandas DataFrame. A Dask DataFrame is the collection of all of the Pandas DataFrames. Operations are done on each partition, and then aggregated back.

<img src="https://docs.dask.org/en/latest/_images/dask-dataframe.svg" align="center" width="400"/>

## [Reference on Partitions](https://blog.scottlogic.com/2018/03/22/apache-spark-performance.html) by Scott Logic

This reference has a lot of good images and explanations

### Ideal Partitioning Strategy
![Partitioning](https://blog.scottlogic.com/mdebeneducci/assets/Ideal-Partitioning.png)
### Skewed Partitions
![Skewed Partitions](https://blog.scottlogic.com/mdebeneducci/assets/Skewed-Partitions.png)
### Inefficient Scheduling
![Inefficient Scheduling](https://blog.scottlogic.com/mdebeneducci/assets/Inefficient-Scheduling.png)
### Data Shuffling
![Shuffle](https://blog.scottlogic.com/mdebeneducci/assets/Shuffle-Diagram.png)

## Code Comparison

For those unfamialiar with the data processing frameworks, we show a quick example that shows soem syntax differences betweeen the frameworks.

### Mapping a Dictionary

In this example below, we are using a dictionary to map the values in the `value` column to the corresponding food item. WE create pandas, Spark, and Dask DataFrames to compare the operation on each one.

In [1]:
import pandas as pd
from typing import Dict
import dask.dataframe as dd
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

df = pd.DataFrame({"id":[0,1,2], "value": (["A", "B", "C"])})
map_dict = {"A": "Apple", "B": "Banana", "C": "Carrot"}

sdf = spark.createDataFrame(df)
ddf = dd.from_pandas(df, npartitions=2)

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/anaconda3/envs/fugue/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/08/16 16:33:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

**Pandas**

Pandas has a built-in map operation for this.

In [2]:
df["value"].map(map_dict)

0     Apple
1    Banana
2    Carrot
Name: value, dtype: object

**Spark**

For Spark, the operation is a bit harder because we have to create a mapping expression that will then be applied to the column

In [3]:
from pyspark.sql.functions import col, create_map, lit
from itertools import chain

mapping_expr = create_map([lit(x) for x in chain(*map_dict.items())])
sdf.withColumn("value", mapping_expr[col("value")]).show()

+---+------+
| id| value|
+---+------+
|  0| Apple|
|  1|Banana|
|  2|Carrot|
+---+------+

**Dask**

Dask tries to mimic the Pandas API for 1:1 parity so this operation is also simple to execute in Dask.

In [4]:
ddf["value"].map(map_dict).compute()

0     Apple
1    Banana
2    Carrot
Name: value, dtype: object

### Apply on Columns

For the second opeation, we look as a custom `apply` operation on the column axis. Again, we create pandas, Spark, and Dask DataFrames for this

In [5]:
df = pd.DataFrame({"col1":[0,1,2], "col2": ([1,2,3])})
sdf = spark.createDataFrame(df)
ddf = dd.from_pandas(df, npartitions=2)

The function to be applied

In [6]:
def add(x):
    return x+3

**Pandas**

The Pandas `apply` defaults to a column. We can simply pass our function to the `apply` statement.

In [7]:
df.apply(add)

   col1  col2
0     3     4
1     4     5
2     5     6

**Spark**

In [8]:
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import udf

spark_udf = udf(add, IntegerType())
sdf = sdf.withColumn('col1',spark_udf("col1")).withColumn('col2',spark_udf("col2"))
sdf.show()

+----+----+
|col1|col2|
+----+----+
|   3|   4|
|   4|   5|
|   5|   6|
+----+----+

**Dask**

In [9]:
try:
    ddf.apply(add, axis=0).compute()
except Exception as e:
    print(e)

dd.DataFrame.apply only supports axis=1
  Try: df.apply(func, axis=1)

**Why can we only apply on rows?**

## Inconsistencies of Pandas and Spark

One of the first issues is the inconsistencies between Pandas and Spark. Below is a summary of differences.

<img src="https://miro.medium.com/max/1400/0*fv0FKyt3jB0ehVrU" align="center" width="600"/>

### Setup

In [13]:
import pandas as pd
from pyspark.sql import SparkSession
import dask.dataframe as dd

spark = SparkSession.builder.getOrCreate()

df = pd.DataFrame({"col1": [None, None, "A", "A", "B", "B"], 
                   "col2": [1,2,3,4,5,6]})
ddf = dd.from_pandas(df, npartitions=2)
sdf = spark.createDataFrame(df)
df

   col1  col2
0  None     1
1  None     2
2     A     3
3     A     4
4     B     5
5     B     6

### Groupby

**Pandas**

In [14]:
df.groupby("col1")["col2"].mean()

col1
A    3.5
B    5.5
Name: col2, dtype: float64

**Dask**

This is consistent with Pandas in dropping the NULL values.

In [15]:
ddf.groupby("col1")["col2"].mean().compute()

col1
A    3.5
B    5.5
Name: col2, dtype: float64

**Spark**

In [16]:
sdf.groupBy("col1").mean("col2").show()

+----+---------+
|col1|avg(col2)|
+----+---------+
|   A|      3.5|
|   B|      5.5|
|null|      1.5|
+----+---------+

**Additional Note**

For those wondering, you can make this consistent with `dropna=False`

In [17]:
df.groupby("col1", dropna=False)["col2"].mean()

col1
A      3.5
B      5.5
NaN    1.5
Name: col2, dtype: float64

### Sorting

**Pandas**

In [18]:
df.sort_values(["col1", "col2"])

   col1  col2
2     A     3
3     A     4
4     B     5
5     B     6
0  None     1
1  None     2

Dask

In [20]:
try:
    ddf.sort_values(["col1", "col2"])
except Exception as e:
    print(e)

Dataframes only support sorting by named columns which must be passed as a string or a list of strings; multi-partition dataframes only support sorting by a single column.
You passed ['col1', 'col2']

Spark

In [21]:
sdf.orderBy(["col1", "col2"]).show()

+----+----+
|col1|col2|
+----+----+
|null|   1|
|null|   2|
|   A|   3|
|   A|   4|
|   B|   5|
|   B|   6|
+----+----+

In [22]:
sdf.orderBy(["col1", "col2"], ascending=[False,True]).show()

+----+----+
|col1|col2|
+----+----+
|   B|   5|
|   B|   6|
|   A|   3|
|   A|   4|
|null|   1|
|null|   2|
+----+----+

**Additional Note**

Pandas has an argument called the `na_position` which lets you decide where to place NA values when sorting. Pandas uses NA first or NA last while Spark uses `None` as smallest value.

In [24]:
df.sort_values(["col1", "col2"], na_position="last")

   col1  col2
2     A     3
3     A     4
4     B     5
5     B     6
0  None     1
1  None     2

## Pitfalls of Distributed Computing

### Inefficient Partitioning

In [25]:
from time import sleep
import numpy as np
import pandas as pd
import dask.dataframe as dd

def delay(df:pd.DataFrame) -> pd.DataFrame:
    sleep(df.shape[0]*3)
    return df.assign(b=df.shape[0])

pdf = pd.DataFrame(range(8), columns=["a"])
pdf

   a
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7

In [26]:
%%time
ddf = dd.from_pandas(pdf, npartitions=4)
ddf.map_partitions(delay, meta={"a":"int32","b":"int32"}).compute()

CPU times: user 8.12 ms, sys: 2.13 ms, total: 10.3 ms
Wall time: 6.01 s

   a  b
0  0  2
1  1  2
2  2  2
3  3  2
4  4  2
5  5  2
6  6  2
7  7  2

In [28]:
pdf = pd.DataFrame(range(4), columns=["a"])
pdf

   a
0  0
1  1
2  2
3  3

In [29]:
%%time
pdf = pd.DataFrame(range(4), columns=["a"])
ddf = dd.from_pandas(pdf, npartitions=4)
ddf.map_partitions(delay, meta={"a":"int32","b":"int32"}).compute()

CPU times: user 6.51 ms, sys: 1.63 ms, total: 8.15 ms
Wall time: 5.94 s

   a  b
0  0  1
1  1  1
2  2  2
3  3  2

### Lineage and Persisting

In [30]:
%%time
def gen_data(df: pd.DataFrame) -> pd.DataFrame:
    sleep(df.shape[0]*3)
    return df.assign(b=np.random.random((df.shape[0], 1)))

pdf = pd.DataFrame([[0],[1],[2],[3],[4],[5],[6],[7]], columns=["a"])
result = gen_data(pdf)
print(result)
print(result.head(3))

   a         b
0  0  0.224595
1  1  0.491701
2  2  0.570971
3  3  0.450832
4  4  0.441002
5  5  0.880366
6  6  0.940261
7  7  0.589647
   a         b
0  0  0.224595
1  1  0.491701
2  2  0.570971
CPU times: user 7.93 ms, sys: 2.46 ms, total: 10.4 ms
Wall time: 24 s

In [35]:
%%time
ddf = dd.from_pandas(pdf, npartitions=4)
result = ddf.map_partitions(gen_data, meta={"a": "int32", "b":"i8"})
print(result.compute().persist)
print(result.head(2))

   a         b
0  0  0.208799
1  1  0.281135
2  2  0.756241
3  3  0.626770
4  4  0.998564
5  5  0.583225
6  6  0.867071
7  7  0.217210
   a         b
0  0  0.522821
1  1  0.051403
CPU times: user 14.7 ms, sys: 3.25 ms, total: 18 ms
Wall time: 12 s

### Schema Inference

In [36]:
def add_col(df):
    if df["a"].iloc[0] == 7:
        return df.assign(b=None)
    else:
        return df.assign(b=1)
    
pdf = pd.DataFrame(range(8), columns=["a"])
pdf

   a
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7

In [37]:
pdf.groupby("a").apply(add_col)

   a     b
0  0     1
1  1     1
2  2     1
3  3     1
4  4     1
5  5     1
6  6     1
7  7  None

In [38]:
pdf.groupby("a").apply(add_col).dtypes

a     int64
b    object
dtype: object

In [39]:
ddf = dd.from_pandas(pdf, npartitions=2)
ddf.groupby("a").apply(add_col).dtypes

/var/folders/w2/91_v34nx0xs2npnl3zsl9tmm0000gn/T/ipykernel_61291/2870419602.py:2: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  ddf.groupby("a").apply(add_col).dtypes

a    int64
b    int64
dtype: object

**Double execution time**

In [40]:
%%time
def add_col_2(df):
    if df["a"].iloc[0] == 1:
        sleep(5)
    return df.assign(b=1)

ddf.groupby("a").apply(add_col_2).dtypes

CPU times: user 14.2 ms, sys: 1.99 ms, total: 16.2 ms
Wall time: 5.02 s

<timed exec>:6: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result

a    int64
b    int64
dtype: object

In [41]:
%%time
ddf.groupby("a").apply(add_col_2).compute()

<timed eval>:1: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result

CPU times: user 34.6 ms, sys: 6 ms, total: 40.6 ms
Wall time: 10 s

   a  b
1  1  1
0  0  1
2  2  1
3  3  1
4  4  1
5  5  1
6  6  1
7  7  1

## Pandas-like Frameworks

Pandas-like frameworks offer us the promise of changing the import statement to parallelize our code.

* [Koalas](https://spark.apache.org/docs/latest/api/python/user_guide/pandas_on_spark/index.html) is a way to use the Spark engine with the Pandas interface. This was renamed to PySpark Pandas in PySpark 3.2
* [Modin](https://modin.readthedocs.io/en/stable/) is a way to use Dask or Ray with the Pandas interface

<img src="img/modin_spark.png" align="center" width="800"/>

## Behavior Differences of Pandas-like Frameworks

This is the full code to replicate on Kaggle:

https://www.kaggle.com/code/kvnkho/fugue-is-not-another-pandas-like-framework/edit

### Benchmark Data

We created a DataFrame with the following structure. Columns a and b are string columns. Columns c and d are numerical values. This DataFrame will have 1 million rows (but we will also change it in some cases).

We will create this DataFrame in Pandas, Modin (on Ray), PySpark Pandas, and Dask. For each backend, we will time the operations of different cases. This should be clearer after the first issue is discussed.

<img src="https://miro.medium.com/max/1248/0*K-OSXQShdehsyGN3" align="center" width="600"/>

### Index Location

```python
# case 1
df.head(10)[["c","d"]]

# case 2
df.tail(10)[["c","d"]]

# case 3
df.iloc[:10, [2,3]]

# case 4
df.iloc[-10:, [2,3]]

# case 5
df.iloc[499995:500005, [2,3]]
```

<img src="https://miro.medium.com/max/1400/1*p-cxxzzIVvIrpJvB-wlGJQ.png" align="center" width="600"/>

### Pandas Assumes Shuffle is Cheap

In a distributed setting, data lives on multiple machines. Sometimes, data needs to be rearranged across machines so that each worker has all the data belonging to a logical group. This movement of data is called a shuffle and is an inevitable, but expensive part of working with distributed computing.

Take the two equivalent operations. The goal is to keep the row with the highest value of c for each value of d. Note a groupby-max does not preserve the whole row. Case 1 performs a global sort and then drops duplicates to keep the last row. Case 2 on the other hand uses a groupby-idxmax operation to keep the maximum row. Then the smaller DataFrame is merged back to the original DataFrame. This benchmark used 100k rows instead of 1 million.

```python
# case 1: more shuffle
df.sort_values(["c","d"]).drop_duplicates(subset=["d"], keep="last")

# case 2: less shuffle
idx = df.groupby("d")["c"].idxmax()
df.merge(idx, left_index=True, right_on="c")
```

<img src="https://miro.medium.com/max/1176/1*R6MswImUP_aGS0ZYmuCIDQ.png" align="center" width="600"/>

### Pandas Assumes the Index is Beneficial

One of the core concepts ingrained in the Pandas mindset is the index. If a user comes from a Pandas background, they assume that the index is beneficial and itâ€™s worth setting or resetting it. Letâ€™s see how this translates to other backends.

Take the code snippet below. We filter for a given group and then calculate the sum of those records. Case 1 has no index, and case 2 uses an index.

```python
# case 1: without index
df[df["a"]=="red"]["c"].sum()

# case 2: with "a" as index
idf = df.set_index("a")
idf.loc["red"]["c"].sum()
```

<img src="https://miro.medium.com/max/1340/1*DKfyar9dPMPvYMFV0KjhBA.png" align="center" width="600"/>

### Eager versus Lazy Evaluation (Part One)

Lazy evaluation is a key feature of distributed computing frameworks. When calling operations on a DataFrame, a computation graph is constructed. The operations only happen when an action is performed that needs the data.

```python
# case 1: read file and min of all columns 
backend.read_parquet(path).min()

# case 2: read file and min of two columns 
backend.read_parquet(path)[["c0","c1"]].min()
```

<img src="https://miro.medium.com/max/1340/1*9nEbwyjj3zeH-_e6rjSUbA.png" align="center" width="600"/>

### Eager versus Lazy Evaluation (Part Two)

Here, we see a case where eager evaluation helps users. But when practitioners donâ€™t understand lazy evaluation, it also becomes very easy to run into duplicated work.

See the following cases, Case 1 just gets the min of two columns while Case 2 gets the min, max, and mean.

```python
# case 1: min of 2 columns
sub = backend.read_parquet(path)[["c0","c1"]]
sub.min()

# case 2: min, max, and mean of 2 columns
sub = backend.read_parquet(path)[["c0","c1"]]
sub.min()
sub.max()
sub.mean()
```

<img src="https://miro.medium.com/max/1208/1*4WzV-AxMry102o22PuiGkQ.png" align="center" width="600"/>

## Does the import magic hold up?

In [32]:
import pandas as pd
import numpy as np 
import pyspark.pandas as ks

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

### Interoperability with other libraries

There is [this Stackoverflow post](https://stackoverflow.com/questions/70510056/use-of-koalas-instead-of-pandas/70530911#70530911) about someone asking how to do `np.where` in Pandas.

**Pandas**

In [33]:
df = pd.DataFrame({"a": [1,2,3], "b": [1,2,3]})
df["c"] = np.where(df['a'] > 2, 1, 0)
df

   a  b  c
0  1  1  0
1  2  2  0
2  3  3  1

**Koalas**

In [34]:
df = ks.DataFrame({"a": [1,2,3], "b": [1,2,3]})

try: 
    df["c"] = np.where(df['a'] > 2, 1, 0)
except Exception as e:
    print(e)

The method `pd.Series.__iter__()` is not implemented. If you want to collect your data as an NumPy array, use 'to_numpy()' instead.

**Koalas with helper function**

In [35]:
df = ks.DataFrame({"a": [1,2,3], "b": [1,2,3]})

# your custom function
def numpy_where(s, cond, action1, action2):
    return s.where(cond, action2).where(~cond, action1)

# create sample new column
df['c'] = numpy_where(df['a'], df['a'] > 2, 1, 0)
df

   a  b  c
0  1  1  0
1  2  2  0
2  3  3  1

### API Parity of Koalas and Modin

**Pandas**

In [36]:
df = pd.DataFrame({'a':[1,2,3],'b':[3,4,5]})
df.assign(c=pd.Series([1,2,3]))

   a  b  c
0  1  3  1
1  2  4  2
2  3  5  3

**Koalas**

Koalas can't use assign this way as documented [here](https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.DataFrame.assign.html)

In [43]:
import pyspark.pandas as ks
df = ks.DataFrame({'a':[1,2,3],'b':[3,4,5]})
df.assign(c=ks.Series([1,2,3]))

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

AnalysisException: Resolved attribute(s) 0#94L missing from __index_level_0__#82L,a#83L,b#84L,__natural_order__#88L in operator !Project [__index_level_0__#82L, a#83L, b#84L, 0#94L AS c#101L, __natural_order__#88L].;
!Project [__index_level_0__#82L, a#83L, b#84L, 0#94L AS c#101L, __natural_order__#88L]
+- Project [__index_level_0__#82L, a#83L, b#84L, monotonically_increasing_id() AS __natural_order__#88L]
   +- LogicalRDD [__index_level_0__#82L, a#83L, b#84L], false

AnalysisException: Resolved attribute(s) 0#94L missing from __index_level_0__#82L,a#83L,b#84L,__natural_order__#88L in operator !Project [__index_level_0__#82L, a#83L, b#84L, 0#94L AS c#101L, __natural_order__#88L].;
!Project [__index_level_0__#82L, a#83L, b#84L, 0#94L AS c#101L, __natural_order__#88L]
+- Project [__index_level_0__#82L, a#83L, b#84L, monotonically_increasing_id() AS __natural_order__#88L]
   +- LogicalRDD [__index_level_0__#82L, a#83L, b#84L], false

**Modin and Default to Pandas**

https://modin.readthedocs.io/en/stable/supported_apis/defaulting_to_pandas.html

## Behavior Parity Doesn't Exist

In [7]:
import pandas as pd

def minmax(x):
    return x.max() - x.min()

df = pd.DataFrame({"col1":list(range(10000)), "col2": list(range(10000))})
df.apply(minmax)

col1    9999
col2    9999
dtype: int64

In [26]:
kdf = ks.DataFrame(df)
kdf.apply(minmax)

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

col1    249
col2    249
col1    249
col2    249
col1    249
col2    249
col1    249
col2    249
col1    249
col2    249
col1    249
col2    249
col1    249
col2    249
col1    249
col2    249
dtype: int64

In [ ]:
import modin.pandas as mpd
mdf = mpd.DataFrame(df)

mdf.apply(minmax)

# Introducing Fugue
<img src="https://fugue-tutorials.readthedocs.io/_static/logo_blue.svg" align="center" width="400"/>

## Fugue Transform

In [52]:
import pandas as pd
from typing import Dict
import dask.dataframe as dd
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

df = pd.DataFrame({"id":[0,1,2], "value": (["A", "B", "C"])})
map_dict = {"A": "Apple", "B": "Banana", "C": "Carrot"}

In [45]:
def map_letter_to_food(df: pd.DataFrame, mapping: Dict[str, str]) -> pd.DataFrame:
    df["value"] = df["value"].map(mapping)
    return df

In [53]:
from fugue import transform

df = transform(df.copy(),
               map_letter_to_food,
               schema="*",
               params=dict(mapping=map_dict),
               engine="dask"
              )
df.compute()

/opt/anaconda3/envs/fugue/lib/python3.8/site-packages/distributed/node.py:179: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 58567 instead
  warnings.warn(

   id   value
0   0   Apple
0   1  Banana
0   2  Carrot

In [41]:
sdf = transform(df.copy(),
               map_letter_to_food,
               schema="*",
               params=dict(mapping=map_dict),
               engine=spark
               )
sdf.show()

+---+-----+
| id|value|
+---+-----+
|  0| null|
|  1| null|
|  2| null|
+---+-----+

In [42]:
sdf= transform(sdf,
               map_letter_to_food,
               schema="*",
               params=dict(mapping=map_dict),
               engine=spark
               )
type(ddf)

2022-08-09 15:53:23,849 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/w2/91_v34nx0xs2npnl3zsl9tmm0000gn/T/dask-worker-space/worker-5795w30h', purging
2022-08-09 15:53:23,851 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/w2/91_v34nx0xs2npnl3zsl9tmm0000gn/T/dask-worker-space/worker-cjmd2yo3', purging
2022-08-09 15:53:23,851 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/w2/91_v34nx0xs2npnl3zsl9tmm0000gn/T/dask-worker-space/worker-7ejo7cri', purging
2022-08-09 15:53:23,852 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/w2/91_v34nx0xs2npnl3zsl9tmm0000gn/T/dask-worker-space/worker-kokam5sm', purging

dask.dataframe.core.DataFrame

**A Spark Equivalent for Fugue Transform**

In [43]:
from typing import Iterator, Union
from pyspark.sql.types import StructType
from pyspark.sql import DataFrame, SparkSession

def mapping_wrapper(dfs: Iterator[pd.DataFrame], mapping):
    for df in dfs:
        yield map_letter_to_food(df, mapping)

def run_map_letter_to_food(input_df: Union[DataFrame, pd.DataFrame], mapping):
  # conversion
    if isinstance(input_df, pd.DataFrame):
        sdf = spark.createDataFrame(input_df.copy())
    else:
        sdf = input_df.copy()

    schema = StructType(list(sdf.schema.fields))
    return sdf.mapInPandas(lambda dfs: mapping_wrapper(dfs, mapping),
                          schema=schema)

result = run_map_letter_to_food(df.copy(), map_dict)
result.show()

+---+-----+
| id|value|
+---+-----+
|  0| null|
|  1| null|
|  2| null|
+---+-----+

## Fugue Type Conversion

In [54]:
from typing import List, Dict, Any, Iterable

def map_letter_to_food(df: pd.DataFrame, mapping: Dict[str, str]) -> pd.DataFrame:
    df["value"] = df["value"].map(mapping)
    return df

def map_letter_to_food2(df: List[Dict[str,Any]], mapping) -> Iterable[Dict[str,Any]]:
    for row in df:
        row["value"] = mapping[row["value"]]
        yield row

def map_letter_to_food3(df: List[List[Any]], mapping) -> List[List[Any]]:
    for row in df:
        row[1] = mapping[row[1]]
    return df

def map_letter_to_food4(df: List[List[Any]], mapping) -> pd.DataFrame:
    for row in df:
        row[1] = mapping[row[1]]
    df = pd.DataFrame.from_records(df, columns=["id", "value"])
    return df

In [59]:
df = pd.DataFrame({"id":[0,1,2], "value": (["A", "B", "C"])})
map_dict = {"A": "Apple", "B": "Banana", "C": "Carrot"}

res = transform(df,
               map_letter_to_food4,
               schema="*",
               params=dict(mapping=map_dict),
               engine=spark
               )
res.show()

+---+------+
| id| value|
+---+------+
|  0| Apple|
|  1|Banana|
|  2|Carrot|
+---+------+

In [49]:
res = transform(df,
               map_letter_to_food3,
               schema="*",
               params=dict(mapping=map_dict),
               engine=spark
               )
res.show()

+---+------+
| id| value|
+---+------+
|  0| Apple|
|  1|Banana|
|  2|Carrot|
+---+------+

In [51]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [68]:
X = pd.DataFrame({"x_1": [1, 1, 2, 2], "x_2":[1, 2, 2, 3]})
y = np.dot(X, np.array([1, 2])) + 3
reg = LinearRegression().fit(X, y)

X2 = pd.DataFrame({"x_1": [2, 3, 2, 3], "x_2":[1, 2, 2, 3]})
y2 = np.dot(X2, np.array([-1, -2])) + 3
reg2 = LinearRegression().fit(X2, y2)

In [69]:
input_df = pd.DataFrame({"group": ["A","A","A", "B","B","B"], 
                        "x_1": [1,2,3,4,5,6],
                        "x_2": [3,4,12,3,4,12]})

In [70]:
# This is for one group
def predict(df: pd.DataFrame) -> pd.DataFrame:
    group = df.iloc[0]["group"]
    model = reg if group == "A" else reg2
    return df.assign(predicted=model.predict(df.drop("group", axis = 1)))

In [71]:
# this only uses one of the models
predict(input_df.copy())

  group  x_1  x_2  predicted
0     A    1    3       10.0
1     A    2    4       13.0
2     A    3   12       30.0
3     B    4    3       13.0
4     B    5    4       16.0
5     B    6   12       33.0

In [72]:
transform(
    input_df.copy(),
    predict,
    schema="*,predicted:double",
    partition={"by": "group"}
)

  group  x_1  x_2  predicted
0     A    1    3       10.0
1     A    2    4       13.0
2     A    3   12       30.0
3     B    4    3       -7.0
4     B    5    4      -10.0
5     B    6   12      -27.0

In [73]:
from fugue_notebook import setup
setup()

In [77]:
# schema: *, predicted:int
def predict(df: pd.DataFrame) -> pd.DataFrame:
    group = df.iloc[0]["group"]
    model = reg if group == "A" else reg2
    return df.assign(predicted=model.predict(df.drop("group", axis = 1)))

## A Quick Look at FugueSQL

In [79]:
%%fsql
SELECT * FROM input_df
TRANSFORM PREPARTITION BY group USING predict
PRINT

  group  x_1  x_2  predicted
0     A    1    3         10
1     A    2    4         12
2     A    3   12         29
3     B    4    3         -7
4     B    5    4         -9
5     B    6   12        -26